extends layout
block content
  .jumbotron
    .container
      h1 Mum
        span Assist
      p It gets overwhelmed sometimes. Dont give up.
      p Get the help you need.
      a.btn.btn-primary.btn-lg(href='/login', role='button') Right Here


block scripts
  script(src='/javascripts/main.js')
