extends layout

block content
  .row
    .col-xs-12.col-sm-12.col-md-4.well.well-sm
      legend
        |  Sign up
      form.form(action='#', method='post', role='form')
        .row
          .col-xs-6.col-md-6
            input.form-control(name='firstname', placeholder='First Name', type='text', required='', autofocus='')
          .col-xs-6.col-md-6
            input.form-control(name='lastname', placeholder='Last Name', type='text', required='')
        input.form-control(name='youremail', placeholder='Your Email', type='email')
        input.form-control(name='password', placeholder='New Password', type='password')
        label(for='')
          | Birth Date
        .row
          .col-xs-4.col-md-4
            select.form-control
              option(value='Month') Month
          .col-xs-4.col-md-4
            select.form-control
              option(value='Day') Day
          .col-xs-4.col-md-4
            select.form-control
              option(value='Year') Year
        label.radio-inline
          input#inlineCheckbox1(type='radio', name='sex', value='male')
          |                 Male
        label.radio-inline
          input#inlineCheckbox2(type='radio', name='sex', value='female')
          |                 Female
        br
        br
        button.btn.btn-lg.btn-primary.btn-block(type='submit')
          | Sign up
